In [33]:
#Imports the pymongo library, which is the official MongoDB driver for Python.
import pymongo

#Imports the pprint module, which provides a way to pretty-print data structures.
import pprint

#Specifically imports the MongoClient class from pymongo, which allows connecting to a MongoDB server.
from pymongo import MongoClient

#Creates a new instance of MongoClient and passes the MongoDB connection URI as an argument. 
#The URI contains the authentication details (root:randompasswordidontlikethis) 
#and the IP address (35.204.21.122) and port (27017) of the MongoDB server.
client = MongoClient('mongodb://root:randompasswordidontlikethis@35.204.15.102:27017/')

#Initializes a PrettyPrinter object with an indentation level of 4 spaces. 
#This will be used to format and print the retrieved data in a readable manner.
pp = pprint.PrettyPrinter(indent = 4)

#Accesses the "twitter" database within the MongoDB server using the client object.
#Accesses the "airlines" collection within the "twitter" database.
db = client.twitter
airlines = db.airlines

In [ ]:

#creating a data frame for the tweets where AirFrance or airfrance are mentioned in the user mentions or in the texts
import pandas as pd
needed_columns={'id_str': 1, 'created_at':1, 'text':1, 'in_reply_to_status_id_str':1, 'in_reply_to_user_id_str':1, 
                'user':1, 'place':1, 'reply_count':1, 'retweet_count':1, 'favorite_count':1, 'entities':1, 
                'lang':1, 'timestamp_ms':1, 'extended_tweet':1, 'quoted_status_id_str':1, 'quoted_status':1}
# Define the values and query for user mentions
British_values = ['British Airways', 'british airways', 'British airways', 'british Airways']
user_mentions_query = {'entities.user_mentions.name': {"$in": British_values}}

# Define the values and query for text mentions
text_mentions_values_British = ['British Airways', 'british airways']
text_mentions_query = {'text': {"$regex": '|'.join(text_mentions_values_British), "$options": "i"}}

# Combine the user_mentions_query and text_mentions_query using the $or operator
combined_query = {"$or": [user_mentions_query, text_mentions_query]}

# Query the collection and retrieve the data
df_British_mentioned = pd.DataFrame(list(airlines.find(combined_query, needed_columns)))

# Apply a filtering condition to remove rows where the value of the key 'id' is equal to 106062176
filtered_df_British_mentioned = df_British_mentioned[~df_British_mentioned['user'].apply(lambda x: x.get('id') == 18332190)]

# Reset the index of the filtered dataframe
filtered_df_British_mentioned = filtered_df_British_mentioned.reset_index(drop=True)

# Display the filtered dataframe
filtered_df_British_mentioned.head()

In [ ]:
filtered_df_British_mentioned.shape[0]

In [21]:
#Create a dataframe of the tweets that were made by the AirFrance

df_British_tweets = pd.DataFrame(list(airlines.find({'user.name':'British Airways'}, needed_columns)))
df_British_tweets.head()

,_id,created_at,id_str,text,in_reply_to_status_id_str,in_reply_to_user_id_str,user,place,extended_tweet,reply_count,retweet_count,favorite_count,entities,lang,timestamp_ms,quoted_status_id_str,quoted_status
0,645635f2a08f95bceec34eee,Wed May 22 13:26:16 +0000 2019,1131189534878818305,@jwwashburn We expect to receive more informat...,1131188415410651136,24132903,"{'id': 124476322, 'id_str': '124476322', 'name...",None,{'full_text': '@jwwashburn We expect to receiv...,0,0,0,"{'hashtags': [], 'urls': [{'url': 'https://t.c...",en,1558531576257,NaN,NaN
1,645635f2a08f95bceec34f13,Wed May 22 13:30:20 +0000 2019,1131190557940879361,@ukonphil My colleagues from Customer Relation...,1131188453213761537,417204633,"{'id': 124476322, 'id_str': '124476322', 'name...",None,{'full_text': '@ukonphil My colleagues from Cu...,0,0,0,"{'hashtags': [], 'urls': [{'url': 'https://t.c...",en,1558531820174,NaN,NaN
2,645635f2a08f95bceec34f69,Wed May 22 13:37:50 +0000 2019,1131192447546122240,@ukonphil All cases are handled individually a...,1131191281483419648,417204633,"{'id': 124476322, 'id_str': '124476322', 'name...",None,{'full_text': '@ukonphil All cases are handled...,0,0,0,"{'hashtags': [], 'urls': [{'url': 'https://t.c...",en,1558532270691,NaN,NaN
3,645635f2a08f95bceec34f6e,Wed May 22 13:38:18 +0000 2019,1131192562142863360,@gregwhitworth I'm happy to hear you and your ...,1131191798322401282,16238495,"{'id': 124476322, 'id_str': '124476322', 'name...",None,NaN,0,0,0,"{'hashtags': [], 'urls': [], 'user_mentions': ...",en,1558532298013,NaN,NaN
4,645635f2a08f95bceec35069,Wed May 22 14:03:22 +0000 2019,1131198872573939712,@ukonphil It's a pleasure. Please keep in mind...,1131194210969894913,417204633,"{'id': 124476322, 'id_str': '124476322', 'name...",None,{'full_text': '@ukonphil It's a pleasure. Plea...,0,0,0,"{'hashtags': [], 'urls': [{'url': 'https://t.c...",en,1558533802537,NaN,NaN

In [23]:
df_Lufthansa_tweets.shape[0]

13933

In [24]:
#creating a data frame for the tweets where AirFrance is mentioned (only English)
filtered_df_Lufthansa_mentioned_English = filtered_df_Lufthansa_mentioned[filtered_df_Lufthansa_mentioned['lang'] == 'en']
filtered_df_Lufthansa_mentioned_English.shape[0]

225389

In [25]:
filtered_df_Lufthansa_tweets_English = df_Lufthansa_tweets[df_Lufthansa_tweets['lang'] == 'en']
filtered_df_Lufthansa_tweets_English.shape[0]

13388

In [26]:
# Concatenate the original tweets from the airline into one DataFrame
df_all_tweets_Lufthansa = pd.concat([filtered_df_Lufthansa_mentioned_English, filtered_df_Lufthansa_tweets_English], ignore_index=True)

# Sort the DataFrame by 'created_at' column in ascending order
df_all_tweets_Lufthansa.sort_values(by='created_at', inplace=True)

# Create an empty DataFrame to store the conversations
df_conversations = pd.DataFrame(columns=df_all_tweets_Lufthansa.columns)

In [27]:
df_all_tweets_Lufthansa.head()

,_id,created_at,id_str,text,in_reply_to_status_id_str,in_reply_to_user_id_str,user,place,extended_tweet,reply_count,retweet_count,favorite_count,entities,lang,timestamp_ms,quoted_status_id_str,quoted_status
65336,64563d266482a607c945b15d,Fri Aug 02 00:03:41 +0000 2019,1157079485780570112,RT @JetPhotos: A Lufthansa 747 touching down i...,None,None,"{'id': 908726376, 'id_str': '908726376', 'name...",None,NaN,0,0,0,"{'hashtags': [], 'urls': [{'url': 'https://t.c...",en,1564704221564,NaN,NaN
65337,64563d266482a607c945b170,Fri Aug 02 00:05:52 +0000 2019,1157080033522941956,RT @JetPhotos: A Lufthansa 747 touching down i...,None,None,"{'id': 453150427, 'id_str': '453150427', 'name...",None,NaN,0,0,0,"{'hashtags': [], 'urls': [{'url': 'https://t.c...",en,1564704352156,NaN,NaN
65338,64563d266482a607c945b1be,Fri Aug 02 00:15:10 +0000 2019,1157082373483323392,@KPRC2 @ggreenwald @theintercept @JackieLeonar...,1157058354172301312,29374886,"{'id': 29374886, 'id_str': '29374886', 'name':...",None,{'full_text': '@KPRC2 @ggreenwald @theintercep...,0,0,0,"{'hashtags': [], 'urls': [{'url': 'https://t.c...",en,1564704910046,NaN,NaN
65339,64563d266482a607c945b1dd,Fri Aug 02 00:20:48 +0000 2019,1157083794517573633,RT @ahUodzrfyxMozn3: Lufthansa Boeing 747-830 ...,None,None,"{'id': 1951450304, 'id_str': '1951450304', 'na...",None,NaN,0,0,0,"{'hashtags': [], 'urls': [], 'user_mentions': ...",en,1564705248847,NaN,NaN
65340,64563d266482a607c945b266,Fri Aug 02 00:39:21 +0000 2019,1157088459443638272,Lufthansa: Stop transporting Irish greyhounds ...,None,None,"{'id': 928198040061710336, 'id_str': '92819804...",None,NaN,0,0,0,"{'hashtags': [], 'urls': [{'url': 'https://t.c...",en,1564706361052,NaN,NaN

In [28]:
#The idea here is to get an overview of the conversations with only replies from the first level
# Create a copy of the original DataFrame
df_conversations_first_reply_Lufthansa = df_all_tweets_Lufthansa.copy()

# Reset the index of the DataFrame
df_conversations_first_reply_Lufthansa.reset_index(drop=True, inplace=True)

# Create a dictionary to store the conversations
conversations = {}

# Iterate through the DataFrame rows
for _, row in df_conversations_first_reply_Lufthansa.iterrows():
    if pd.isnull(row['in_reply_to_status_id_str']):
        # New conversation starts
        conversation_id = row['id_str']
        conversations[conversation_id] = []
        conversations[conversation_id].append(row)
    else:
        # Reply in an existing conversation
        parent_tweet_id = row['in_reply_to_status_id_str']
        if parent_tweet_id in conversations:
            conversations[parent_tweet_id].append(row)

# Flatten the conversation dictionary into a list
conversation_list = [tweet for sublist in conversations.values() for tweet in sublist]

# Create a new DataFrame with the conversations
df_conversations_first_reply = pd.DataFrame(conversation_list)

# Create group index and reply index columns
df_conversations_first_reply_Lufthansa['group_index'] = df_conversations_first_reply_Lufthansa['in_reply_to_status_id_str'].isnull().cumsum()
df_conversations_first_reply_Lufthansa['reply_index'] = df_conversations_first_reply_Lufthansa.groupby('group_index').cumcount() + 1

# Set the two indexes for the DataFrame
df_conversations_first_reply_Lufthansa.set_index(['group_index', 'reply_index'], inplace=True)

In [31]:
df_conversations_first_reply_Lufthansa.shape[0]

238777

In [32]:
df_conversations_first_reply_Lufthansa.head(20)

                                              _id  \
group_index reply_index
1           1            64563d266482a607c945b15d
2           1            64563d266482a607c945b170
            2            64563d266482a607c945b1be
3           1            64563d266482a607c945b1dd
4           1            64563d266482a607c945b266
5           1            64563d266482a607c945b268
            2            64563d266482a607c945b277
6           1            64563d276482a607c945b2b4
7           1            64563d276482a607c945b315
            2            64563d276482a607c945b39b
8           1            64563d276482a607c945b3d0
9           1            64563d276482a607c945b3e7
10          1            64563d276482a607c945b3ea
11          1            64563d276482a607c945b3f9
            2            64563d276482a607c945b41a
12          1            64563d276482a607c945b430
            2            64563d276482a607c945b44c
13          1            64563d276482a607c945b47e
            2            64563d276482a607c945b4c4
14          1            64563d276482a607c945b4d0

                                             created_at               id_str  \
group_index reply_index
1           1            Fri Aug 02 00:03:41 +0000 2019  1157079485780570112
2           1            Fri Aug 02 00:05:52 +0000 2019  1157080033522941956
            2            Fri Aug 02 00:15:10 +0000 2019  1157082373483323392
3           1            Fri Aug 02 00:20:48 +0000 2019  1157083794517573633
4           1            Fri Aug 02 00:39:21 +0000 2019  1157088459443638272
5           1            Fri Aug 02 00:39:21 +0000 2019  1157088462626967552
            2            Fri Aug 02 00:44:10 +0000 2019  1157089673388277762
6           1            Fri Aug 02 00:53:32 +0000 2019  1157092031912529920
7           1            Fri Aug 02 01:05:10 +0000 2019  1157094958354092032
            2            Fri Aug 02 01:21:03 +0000 2019  1157098956834377728
8           1            Fri Aug 02 01:27:12 +0000 2019  1157100501311168512
9           1            Fri Aug 02 01:28:30 +0000 2019  1157100829481959424
10          1            Fri Aug 02 01:28:39 +0000 2019  1157100866744094726
11          1            Fri Aug 02 01:30:53 +0000 2019  1157101429472948224
            2            Fri Aug 02 01:36:09 +0000 2019  1157102756710277120
12          1            Fri Aug 02 01:38:53 +0000 2019  1157103444471230465
            2            Fri Aug 02 01:42:29 +0000 2019  1157104348414935040
13          1            Fri Aug 02 01:48:57 +0000 2019  1157105976262086657
            2            Fri Aug 02 01:56:25 +0000 2019  1157107857269108742
14          1            Fri Aug 02 01:57:33 +0000 2019  1157108142284537859

                                                                      text  \
group_index reply_index
1           1            RT @JetPhotos: A Lufthansa 747 touching down i...
2           1            RT @JetPhotos: A Lufthansa 747 touching down i...
            2            @KPRC2 @ggreenwald @theintercept @JackieLeonar...
3           1            RT @ahUodzrfyxMozn3: Lufthansa Boeing 747-830 ...
4           1            Lufthansa: Stop transporting Irish greyhounds ...
5           1            Still magic after a lifetime of flying.  I lov...
            2            @RedOxxAffairs Thank you for sharing this magi...
6           1            RT @JetPhotos: A Lufthansa 747 touching down i...
7           1                           #Lufthansa the worst airline ever!
            2            @b__noc @eFlo214 Let me tag in the Lufthansa e...
8           1            @swissport @lufthansa Just wondering why my bi...
9           1            RT @JetPhotos: A Lufthansa 747 touching down i...
10          1            RT @JetPhotos: A Lufthansa 747 touching down i...
11          1            RT @kell_obrien: @swissport @lufthansa Just wo...
            2            @kell_obrien Hi, I am sorry to hear about this...
12          1            RT @JetPhotos: A Lufthansa 747 touching down i...
            2            @lufthansa I have been doing so for that last ...
13          1            4 am #lufthansa flight from #Cairo to #FRA the...
            2            @ders808 Boy you're not gonna wanna hear what ...
14          1            Lufthansa flight #DLH453 spotted at 12,100 fee...

                        in_reply_to_status_id_str in_reply_to_user_id_str  \
group_index reply_index
1           1                                None                    None
2           1                                None                    None
            2                 1157058354172301312                29374886
3           1                                None                    None
4           1                                None                    None
5           1                                None                    None
            2                 1157088462626967552                49723913
6           1                                None                    None
7           1                                None                    None
            2                 1157097395177558016                53236580
8           1                                None              2339968387
9           1                                None                    None
10          1                                None                    None
11          1                                None                    None
            2                 1157100501311168512               717665652
12          1                                None                    None
            2                 1157102756710277120               124476322
13          1                                None                    None
            2                 1157055784934465536                22544911
14          1                                None                    None

                                                                      user  \
group_index reply_index
1           1            {'id': 908726376, 'id_str': '908726376', 'name...
2           1            {'id': 453150427, 'id_str': '453150427', 'name...
            2            {'id': 29374886, 'id_str': '29374886', 'name':...
3           1            {'id': 1951450304, 'id_str': '1951450304', 'na...
4           1            {'id': 928198040061710336, 'id_str': '92819804...
5           1            {'id': 49723913, 'id_str': '49723913', 'name':...
            2            {'id': 124476322, 'id_str': '124476322', 'name...
6           1            {'id': 92911296, 'id_str': '92911296', 'name':...
7           1            {'id': 169776036, 'id_str': '169776036', 'name...
            2            {'id': 349338544, 'id_str': '349338544', 'name...
8           1            {'id': 717665652, 'id_str': '717665652', 'name...
9           1            {'id': 996033962878251008, 'id_str': '99603396...
10          1            {'id': 1513472160, 'id_str': '1513472160', 'na...
11          1            {'id': 2699761052, 'id_str': '2699761052', 'na...
            2            {'id': 124476322, 'id_str': '124476322', 'name...
12          1            {'id': 229289841, 'id_str': '229289841', 'name...
            2            {'id': 717665652, 'id_str': '717665652', 'name...
13          1            {'id': 164538270, 'id_str': '164538270', 'name...
            2            {'id': 34730672, 'id_str': '34730672', 'name':...
14          1            {'id': 3829582934, 'id_str': '3829582934', 'na...

                        place  \
group_index reply_index
1           1            None
2           1            None
            2            None
3           1            None
4           1            None
5           1            None
            2            None
6           1            None
7           1            None
            2            None
8           1            None
9           1            None
10          1            None
11          1            None
            2            None
12          1            None
            2            None
13          1            None
            2            None
14          1            None

                                                            extended_tweet  \
group_index reply_index
1           1                                                          NaN
2           1                                                          NaN
            2            {'full_text': '@KPRC2 @ggreenwald @theintercep...
3           1                                                          NaN
4           1                                                          NaN
5           1                                                          NaN
            2                                                          NaN
6           1                                                          NaN
7           1                                                          NaN
            2                                                          NaN
8           1                                                          NaN
9           1                                                          NaN
10          1                                                          NaN
11          1                                                          NaN
            2                                                          NaN
12          1                                                          NaN
            2                                                          NaN
13          1            {'full_text': '4 am #lufthansa flight from #Ca...
            2                                                          NaN
14          1                                                          NaN

                         reply_count  retweet_count  favorite_count  \
group_index reply_index
1           1                      0              0               0
2           1                      0              0               0
            2                      0              0               0
3           1                      0              0               0
4           1                      0              0               0
5           1                      0              0               0
            2                      0              0               0
6           1                      0              0               0
7           1                      0              0               0
            2                      0              0               0
8           1                      0              0               0
9           1                      0              0               0
10          1                      0              0               0
11          1                      0              0               0
            2                      0              0               0
12          1                      0              0               0
            2                      0              0               0
13          1                      0              0               0
            2                      0              0               0
14          1                      0              0               0

                                                                  entities  \
group_index reply_index
1           1            {'hashtags': [], 'urls': [{'url': 'https://t.c...
2           1            {'hashtags': [], 'urls': [{'url': 'https://t.c...
            2            {'hashtags': [], 'urls': [{'url': 'https://t.c...
3           1            {'hashtags': [], 'urls': [], 'user_mentions': ...
4           1            {'hashtags': [], 'urls': [{'url': 'https://t.c...
5           1            {'hashtags': [], 'urls': [], 'user_mentions': ...
            2            {'hashtags': [], 'urls': [], 'user_mentions': ...
6           1            {'hashtags': [], 'urls': [{'url': 'https://t.c...
7           1            {'hashtags': [{'text': 'Lufthansa', 'indices':...
            2            {'hashtags': [], 'urls': [], 'user_mentions': ...
8           1            {'hashtags': [], 'urls': [], 'user_mentions': ...
9           1            {'hashtags': [], 'urls': [{'url': 'https://t.c...
10          1            {'hashtags': [], 'urls': [{'url': 'https://t.c...
11          1            {'hashtags': [], 'urls': [], 'user_mentions': ...
            2            {'hashtags': [], 'urls': [], 'user_mentions': ...
12          1            {'hashtags': [], 'urls': [{'url': 'https://t.c...
            2            {'hashtags': [], 'urls': [], 'user_mentions': ...
13          1            {'hashtags': [{'text': 'lufthansa', 'indices':...
            2            {'hashtags': [], 'urls': [], 'user_mentions': ...
14          1            {'hashtags': [{'text': 'DLH453', 'indices': [1...

                        lang   timestamp_ms quoted_status_id_str quoted_status
group_index reply_index
1           1             en  1564704221564                  NaN           NaN
2           1             en  1564704352156                  NaN           NaN
            2             en  1564704910046                  NaN           NaN
3           1             en  1564705248847                  NaN           NaN
4           1             en  1564706361052                  NaN           NaN
5           1             en  1564706361811                  NaN           NaN
            2             en  1564706650479                  NaN           NaN
6           1             en  1564707212795                  NaN           NaN
7           1             en  1564707910513                  NaN           NaN
            2             en  1564708863825                  NaN           NaN
8           1             en  1564709232057                  NaN           NaN
9           1             en  1564709310299                  NaN           NaN
10          1             en  1564709319183                  NaN           NaN
11          1             en  1564709453348                  NaN           NaN
            2             en  1564709769786                  NaN           NaN
12          1             en  1564709933761                  NaN           NaN
            2             en  1564710149278                  NaN           NaN
13          1             en  1564710537387                  NaN           NaN
            2             en  1564710985854                  NaN           NaN
14          1             en  1564711053807                  NaN           NaN