In [1]:
#Imports the pymongo library, which is the official MongoDB driver for Python.
import pymongo

#Imports the pprint module, which provides a way to pretty-print data structures.
import pprint

#Specifically imports the MongoClient class from pymongo, which allows connecting to a MongoDB server.
from pymongo import MongoClient

#Creates a new instance of MongoClient and passes the MongoDB connection URI as an argument. 
#The URI contains the authentication details (root:randompasswordidontlikethis) 
#and the IP address (35.204.21.122) and port (27017) of the MongoDB server.
client = MongoClient('mongodb://root:randompasswordidontlikethis@35.204.15.102:27017/')

#Initializes a PrettyPrinter object with an indentation level of 4 spaces. 
#This will be used to format and print the retrieved data in a readable manner.
pp = pprint.PrettyPrinter(indent = 4)

#Accesses the "twitter" database within the MongoDB server using the client object.
#Accesses the "airlines" collection within the "twitter" database.
db = client.twitter
airlines = db.airlines

In [2]:
#creating a data frame for the tweets where klm or KLM are mentioned in the user mentions or in the texts
import pandas as pd

needed_columns={'id_str': 1, 'created_at':1, 'text':1, 'in_reply_to_status_id_str':1, 'in_reply_to_user_id_str':1, 
                'user':1, 'place':1, 'reply_count':1, 'retweet_count':1, 'favorite_count':1, 'entities':1, 
                'lang':1, 'timestamp_ms':1, 'extended_tweet':1, 'quoted_status_id_str':1, 'quoted_status':1}
# Define the values and query for user mentions
KLM_values = ['KLM', 'klm']
user_mentions_query = {'entities.user_mentions.name': {"$in": KLM_values}}

# Define the values and query for text mentions
text_mentions_values_KLM = ['KLM', 'klm']
text_mentions_query = {'text': {"$regex": '|'.join(text_mentions_values_KLM), "$options": "i"}}

# Combine the user_mentions_query and text_mentions_query using the $or operator
combined_query = {"$or": [user_mentions_query, text_mentions_query]}

# Query the collection and retrieve the data
df_KLM_mentioned = pd.DataFrame(list(airlines.find(combined_query, needed_columns)))

# Apply a filtering condition to remove rows where the value of the key 'id' is equal to 56377143
filtered_df_KLM_mentioned = df_KLM_mentioned[~df_KLM_mentioned['user'].apply(lambda x: x.get('id') == 56377143)]

# Reset the index of the filtered dataframe
filtered_df_KLM_mentioned = filtered_df_KLM_mentioned.reset_index(drop=True)

# Display the filtered dataframe
filtered_df_KLM_mentioned.head()

,_id,created_at,id_str,text,in_reply_to_status_id_str,in_reply_to_user_id_str,user,place,reply_count,retweet_count,favorite_count,entities,lang,timestamp_ms,extended_tweet,quoted_status_id_str,quoted_status
0,645635f2a08f95bceec34b96,Wed May 22 12:20:28 +0000 2019,1131172975682605058,RT @sandeeprrao1991: BREAKING:-\nKLM to fly 3x...,None,None,"{'id': 14193348, 'id_str': '14193348', 'name':...",None,0,0,0,"{'hashtags': [], 'urls': [], 'user_mentions': ...",en,1558527628237,NaN,NaN,NaN
1,645635f2a08f95bceec34ba6,Wed May 22 12:21:56 +0000 2019,1131173345435762688,☀ Prázdninové letenky na Faerské ostrovy k srp...,None,None,"{'id': 67642736, 'id_str': '67642736', 'name':...",None,0,0,0,"{'hashtags': [], 'urls': [{'url': 'https://t.c...",cs,1558527716393,{'full_text': '☀ Prázdninové letenky na Faersk...,NaN,NaN
2,645635f2a08f95bceec34ba9,Wed May 22 12:22:05 +0000 2019,1131173383163355137,@ponponpurin @matsun0525 そんな感じ(ﾉ∀｀笑)\nとくにKLMの機...,1131172970544619520,185211618,"{'id': 2330390335, 'id_str': '2330390335', 'na...",None,0,0,0,"{'hashtags': [], 'urls': [], 'user_mentions': ...",ja,1558527725388,NaN,NaN,NaN
3,645635f2a08f95bceec34bb3,Wed May 22 12:23:02 +0000 2019,1131173623488761857,Op dit moment vliegt #KLM vlucht KLM51K richti...,None,None,"{'id': 2933942314, 'id_str': '2933942314', 'na...",None,0,0,0,"{'hashtags': [{'text': 'KLM', 'indices': [21, ...",nl,1558527782686,NaN,NaN,NaN
4,645635f2a08f95bceec34bc9,Wed May 22 12:24:26 +0000 2019,1131173974342193152,RT @McWhirterAlex: .@KLM will fly Amsterdam-Ba...,None,None,"{'id': 1328529979, 'id_str': '1328529979', 'na...",None,0,0,0,"{'hashtags': [], 'urls': [], 'user_mentions': ...",en,1558527866336,NaN,NaN,NaN

In [3]:
#Creating a data frame where the british airways are mentioned in the user mentions 
df_British_mentioned = pd.DataFrame(list(airlines.find({'entities.user_mentions.name':'British Airways'}, needed_columns)))
df_British_mentioned.head()

,_id,created_at,id_str,text,in_reply_to_status_id_str,in_reply_to_user_id_str,user,place,reply_count,retweet_count,favorite_count,entities,lang,timestamp_ms,extended_tweet,quoted_status_id_str,quoted_status
0,645635f2a08f95bceec34b94,Wed May 22 12:20:02 +0000 2019,1131172867985485824,@British_Airways,1131032916232826881,394376606,"{'id': 394376606, 'id_str': '394376606', 'name...",None,0,0,0,"{'hashtags': [], 'urls': [], 'user_mentions': ...",und,1558527602560,NaN,NaN,NaN
1,645635f2a08f95bceec34b99,Wed May 22 12:20:36 +0000 2019,1131173010508062721,Thanks @British_Airways I really needed the ex...,None,None,"{'id': 1662186764, 'id_str': '1662186764', 'na...",None,0,0,0,"{'hashtags': [], 'urls': [], 'user_mentions': ...",en,1558527636540,NaN,NaN,NaN
2,645635f2a08f95bceec34bb6,Wed May 22 12:23:02 +0000 2019,1131173624533213189,RT @renoomokri: Happening Now: Flying to Scand...,None,None,"{'id': 3363341139, 'id_str': '3363341139', 'na...",None,0,0,0,"{'hashtags': [], 'urls': [], 'user_mentions': ...",en,1558527782935,NaN,NaN,NaN
3,645635f2a08f95bceec34bd6,Wed May 22 12:25:16 +0000 2019,1131174183814258688,@British_Airways They certainly are! And it wa...,1131124649599918081,18332190,"{'id': 309076025, 'id_str': '309076025', 'name...","{'id': '0100c1ec5a9b2083', 'url': 'https://api...",0,0,0,"{'hashtags': [], 'urls': [], 'user_mentions': ...",en,1558527916278,NaN,NaN,NaN
4,645635f2a08f95bceec34bdc,Wed May 22 12:25:56 +0000 2019,1131174354056822784,@British_Airways Not yet. I'll have a look later,1131171782319329280,18332190,"{'id': 26207568, 'id_str': '26207568', 'name':...",None,0,0,0,"{'hashtags': [], 'urls': [], 'user_mentions': ...",en,1558527956867,NaN,NaN,NaN

In [4]:
#Create a dataframe of the tweets that were made by the British airways

df_British_tweets = pd.DataFrame(list(airlines.find({'user.name':'British Airways'}, needed_columns)))
df_British_tweets.head()

,_id,created_at,id_str,text,in_reply_to_status_id_str,in_reply_to_user_id_str,user,place,reply_count,retweet_count,favorite_count,entities,lang,timestamp_ms,extended_tweet,quoted_status_id_str,quoted_status
0,645635f2a08f95bceec34ba8,Wed May 22 12:21:58 +0000 2019,1131173353291767810,@journoian We appreciate your feedback and we'...,1131112783012073472,40830697,"{'id': 18332190, 'id_str': '18332190', 'name':...",None,0,0,0,"{'hashtags': [], 'urls': [], 'user_mentions': ...",en,1558527718266,NaN,NaN,NaN
1,645635f2a08f95bceec34bae,Wed May 22 12:22:25 +0000 2019,1131173469339693057,@Shakal97883287 Oh no! Please can you drop us ...,1130939000410300416,1130937322109898755,"{'id': 18332190, 'id_str': '18332190', 'name':...",None,0,0,0,"{'hashtags': [], 'urls': [{'url': 'https://t.c...",en,1558527745934,NaN,NaN,NaN
2,645635f2a08f95bceec34bba,Wed May 22 12:23:11 +0000 2019,1131173660532838400,@wineandthelaw We're concerned to hear this. C...,1131171683056934914,180826577,"{'id': 18332190, 'id_str': '18332190', 'name':...",None,0,0,0,"{'hashtags': [], 'urls': [{'url': 'https://t.c...",en,1558527791518,NaN,NaN,NaN
3,645635f2a08f95bceec34bbb,Wed May 22 12:23:12 +0000 2019,1131173663745683457,"@wags9000 This is concerning to hear, Ally. Di...",1131129434243780608,302493679,"{'id': 18332190, 'id_str': '18332190', 'name':...",None,0,0,0,"{'hashtags': [], 'urls': [{'url': 'https://t.c...",en,1558527792284,NaN,NaN,NaN
4,645635f2a08f95bceec34bdf,Wed May 22 12:26:10 +0000 2019,1131174411434889216,@FantuttiFruity Send us your booking reference...,1131166636977938432,586517829,"{'id': 18332190, 'id_str': '18332190', 'name':...",None,0,0,0,"{'hashtags': [], 'urls': [{'url': 'https://t.c...",en,1558527970547,{'full_text': '@FantuttiFruity Send us your bo...,NaN,NaN

In [5]:
#Create a dataframe of the tweets that were made by the KLM

df_KLM_tweets = pd.DataFrame(list(airlines.find({'user.screen_name':'KLM'}, needed_columns)))
df_KLM_tweets.head()

,_id,created_at,id_str,text,in_reply_to_status_id_str,in_reply_to_user_id_str,user,place,extended_tweet,reply_count,retweet_count,favorite_count,entities,lang,timestamp_ms
0,645635f2a08f95bceec34bb7,Wed May 22 12:23:03 +0000 2019,1131173625258815488,@Pelusitaaaa1 Hoi! Enkel KLM/Air France-vluch...,1131171363673317376,3110268790,"{'id': 56377143, 'id_str': '56377143', 'name':...",None,{'full_text': '@Pelusitaaaa1 Hoi! Enkel KLM/A...,0,0,0,"{'hashtags': [], 'urls': [{'url': 'https://t.c...",nl,1558527783108
1,645635f2a08f95bceec34e0e,Wed May 22 13:09:16 +0000 2019,1131185259289206785,@Pelusitaaaa1 We helpen je graag. Kan je ons e...,1131183043241230337,3110268790,"{'id': 56377143, 'id_str': '56377143', 'name':...",None,NaN,0,0,0,"{'hashtags': [], 'urls': [], 'user_mentions': ...",nl,1558530556877
2,645635f2a08f95bceec34ea4,Wed May 22 13:20:05 +0000 2019,1131187978771025921,@addblackman We understand that you would pref...,1131182474380423168,1604219274,"{'id': 56377143, 'id_str': '56377143', 'name':...",None,{'full_text': '@addblackman We understand that...,0,0,0,"{'hashtags': [], 'urls': [{'url': 'https://t.c...",en,1558531205252
3,645635f2a08f95bceec34ea8,Wed May 22 13:20:17 +0000 2019,1131188028528107521,@CarlosMosig Con el fin de evitar errores noso...,1131183080474124288,879493539012296704,"{'id': 56377143, 'id_str': '56377143', 'name':...",None,{'full_text': '@CarlosMosig Con el fin de evit...,0,0,0,"{'hashtags': [], 'urls': [{'url': 'https://t.c...",es,1558531217115
4,645635f2a08f95bceec34ea9,Wed May 22 13:20:31 +0000 2019,1131188089328734209,@addblackman We do understand that some passen...,1131182474380423168,1604219274,"{'id': 56377143, 'id_str': '56377143', 'name':...",None,{'full_text': '@addblackman We do understand t...,0,0,0,"{'hashtags': [], 'urls': [{'url': 'https://t.c...",en,1558531231611

In [6]:
#creating a data frame for the tweets where klm or KLM are mentioned (only English)
filtered_df_KLM_mentioned_English = filtered_df_KLM_mentioned[filtered_df_KLM_mentioned['lang'] == 'en']

In [7]:
#creating a data frame for the tweets where British airways are mentioned (only English)
df_British_mentioned_English = df_British_mentioned[df_British_mentioned['lang'] == 'en']

In [8]:
#creating a data frame for the tweets made by British airways (only English)
df_British_tweets_English = df_British_tweets[df_British_tweets['lang']=='en']

In [9]:
#creating a data frame for the tweets made by KLM (only English)
df_KLM_tweets_English = df_KLM_tweets[df_KLM_tweets['lang']=='en']

In [10]:
# Concatenate the original tweets from both airlines into one DataFrame
df_original_tweets = pd.concat([filtered_df_KLM_mentioned_English, df_British_mentioned_English, df_KLM_tweets_English, df_British_tweets_English], ignore_index=True)

# Sort the DataFrame by 'created_at' column in ascending order
df_original_tweets.sort_values(by='created_at', inplace=True)

# Create an empty DataFrame to store the conversations
df_conversations = pd.DataFrame(columns=df_original_tweets.columns)

In [11]:
#Creating a new dataframe for only the first 5000 tweets
#The idea is to create smaller dataframes to be able to iterate in a quicker way
df_first_5000 = df_original_tweets.head(5000)

In [12]:
# Create an empty DataFrame to store the conversations
df_conversations_first_5000 = pd.DataFrame(columns=df_original_tweets.columns)

def build_conversation(row):
    conversation = [row]
    
    # Check if the row is an initial tweet (not a reply)
    replies = df_original_tweets[df_original_tweets['in_reply_to_status_id_str'] == row['id_str']]
    for _, reply in replies.iterrows():
        conversation.extend(build_conversation(reply))
    
    return conversation

# Iterate through the first 5000 rows of df_original_tweets
for _, row in df_first_5000.iterrows():
    if pd.isnull(row['in_reply_to_status_id_str']):
        conversation = build_conversation(row)
        df_conversations_first_5000 = df_conversations_first_5000.append(conversation, ignore_index=True)

In [13]:
# Add the first index for each group based on the NaN values in 'in_reply_to_status_id_str'
df_conversations_first_5000['group_index'] = df_conversations_first_5000['in_reply_to_status_id_str'].isnull().cumsum()

# Add the second index for each reply within each group
df_conversations_first_5000['reply_index'] = df_conversations_first_5000.groupby('group_index').cumcount() + 1

# Set the two indexes for the DataFrame
df_conversations_first_5000.set_index(['group_index', 'reply_index'], inplace=True)

In [14]:
df_conversations_first_5000.head(20)

                                              _id  \
group_index reply_index
1           1            64563d266482a607c945b185
2           1            64563d266482a607c945b199
3           1            64563d266482a607c945b1a0
            2            64563d276482a607c945b2d6
4           1            64563d266482a607c945b1eb
            2            64563d276482a607c945b406
            3            64563d276482a607c945b5c4
            4            64563d276482a607c945b650
            5            64563d286482a607c945b6a5
            6            64563d286482a607c945b945
            7            64563d286482a607c945baad
            8            64563d286482a607c945bbb1
            9            64563d2d6482a607c945d172
            10           64563d35068530629ef70a1f
            11           64563d36068530629ef70b7a
            12           64563d36068530629ef70c36
            13           64563d36068530629ef70c3c
            14           64563e51b31cb91d5872e0a7
            15           64563d35068530629ef70a0f
5           1            64563d266482a607c945b1f2

                                             created_at               id_str  \
group_index reply_index
1           1            Fri Aug 02 00:08:08 +0000 2019  1157080604401229824
2           1            Fri Aug 02 00:09:58 +0000 2019  1157081065237954561
3           1            Fri Aug 02 00:11:33 +0000 2019  1157081463805947906
            2            Fri Aug 02 00:58:14 +0000 2019  1157093212349227014
4           1            Fri Aug 02 00:23:14 +0000 2019  1157084405199986688
            2            Fri Aug 02 01:32:11 +0000 2019  1157101756985335819
            3            Fri Aug 02 02:32:02 +0000 2019  1157116817640321024
            4            Fri Aug 02 02:54:34 +0000 2019  1157122489731964928
            5            Fri Aug 02 03:03:33 +0000 2019  1157124750277169152
            6            Fri Aug 02 04:04:29 +0000 2019  1157140085462183936
            7            Fri Aug 02 04:45:54 +0000 2019  1157150507867070466
            8            Fri Aug 02 05:16:27 +0000 2019  1157158196869394432
            9            Fri Aug 02 12:26:55 +0000 2019  1157266524299829248
            10           Fri Aug 02 23:38:08 +0000 2019  1157435443090268160
            11           Sat Aug 03 00:21:49 +0000 2019  1157446435941625858
            12           Sat Aug 03 00:46:16 +0000 2019  1157452589975441409
            13           Sat Aug 03 00:47:28 +0000 2019  1157452890623107073
            14           Thu Aug 08 00:06:24 +0000 2019  1159254495295131648
            15           Fri Aug 02 23:37:10 +0000 2019  1157435200898514944
5           1            Fri Aug 02 00:24:13 +0000 2019  1157084654370902016

                                                                      text  \
group_index reply_index
1           1            RT @iamandymorris: Huge new issue celebrating ...
2           1            RT @British_Airways: @scottrhoughton We're sor...
3           1            Decent flight back on @KLM newest #B737 \n\nLi...
            2            @DCI_Barnaby We appreciate you bringing this t...
4           1            @British_Airways Hello, can you let me know ho...
            2            @Alex5188 Hey Alex, if you're travelling in Fi...
            3            @British_Airways Regrettably I don’t have eith...
            4            @Alex5188 Sadly we don't have any other lounge...
            5            @British_Airways Disappointing! Which is gener...
            6            @Alex5188 Is that to say you're travelling in ...
            7            @British_Airways Out on Club World. Return on ...
            8            @Alex5188 Can you tell us more about what happ...
            9            @British_Airways @Alex5188 Probably your crap ...
            10           @journeyingjohn @British_Airways Pretty much s...
            11           @Alex5188 We can understand why you'd be disap...
            12           @British_Airways Hmmmm, there may not be a nex...
            13           @British_Airways When you spend the best part ...
            14           @British_Airways @Alex5188 Pls feedback the #f...
            15           @British_Airways The Club World cabin was not ...
5           1            RT @NucleusBrain: Miffy found her favourite Ai...

                        in_reply_to_status_id_str in_reply_to_user_id_str  \
group_index reply_index
1           1                                None                    None
2           1                                None                    None
3           1                                None                    None
            2                 1157081463805947906               209981431
4           1                                None                18332190
            2                 1157084405199986688                95514481
            3                 1157101756985335819                18332190
            4                 1157116817640321024                95514481
            5                 1157122489731964928                18332190
            6                 1157124750277169152                95514481
            7                 1157140085462183936                18332190
            8                 1157150507867070466                95514481
            9                 1157158196869394432                18332190
            10                1157266524299829248               331256241
            11                1157435443090268160                95514481
            12                1157446435941625858                18332190
            13                1157452589975441409                95514481
            14                1157446435941625858                18332190
            15                1157158196869394432                18332190
5           1                                None                    None

                                                                      user  \
group_index reply_index
1           1            {'id': 87153411, 'id_str': '87153411', 'name':...
2           1            {'id': 211830847, 'id_str': '211830847', 'name...
3           1            {'id': 209981431, 'id_str': '209981431', 'name...
            2            {'id': 56377143, 'id_str': '56377143', 'name':...
4           1            {'id': 95514481, 'id_str': '95514481', 'name':...
            2            {'id': 18332190, 'id_str': '18332190', 'name':...
            3            {'id': 95514481, 'id_str': '95514481', 'name':...
            4            {'id': 18332190, 'id_str': '18332190', 'name':...
            5            {'id': 95514481, 'id_str': '95514481', 'name':...
            6            {'id': 18332190, 'id_str': '18332190', 'name':...
            7            {'id': 95514481, 'id_str': '95514481', 'name':...
            8            {'id': 18332190, 'id_str': '18332190', 'name':...
            9            {'id': 331256241, 'id_str': '331256241', 'name...
            10           {'id': 95514481, 'id_str': '95514481', 'name':...
            11           {'id': 18332190, 'id_str': '18332190', 'name':...
            12           {'id': 95514481, 'id_str': '95514481', 'name':...
            13           {'id': 95514481, 'id_str': '95514481', 'name':...
            14           {'id': 331256241, 'id_str': '331256241', 'name...
            15           {'id': 95514481, 'id_str': '95514481', 'name':...
5           1            {'id': 821832462, 'id_str': '821832462', 'name...

                                                                     place  \
group_index reply_index
1           1                                                         None
2           1                                                         None
3           1                                                         None
            2                                                         None
4           1            {'id': 'e21c8e4914eef2b3', 'url': 'https://api...
            2                                                         None
            3            {'id': 'e21c8e4914eef2b3', 'url': 'https://api...
            4                                                         None
            5            {'id': 'e21c8e4914eef2b3', 'url': 'https://api...
            6                                                         None
            7            {'id': 'e21c8e4914eef2b3', 'url': 'https://api...
            8                                                         None
            9                                                         None
            10           {'id': 'e21c8e4914eef2b3', 'url': 'https://api...
            11                                                        None
            12           {'id': 'e21c8e4914eef2b3', 'url': 'https://api...
            13           {'id': 'e21c8e4914eef2b3', 'url': 'https://api...
            14                                                        None
            15           {'id': 'e21c8e4914eef2b3', 'url': 'https://api...
5           1                                                         None

                        reply_count retweet_count favorite_count  \
group_index reply_index
1           1                     0             0              0
2           1                     0             0              0
3           1                     0             0              0
            2                     0             0              0
4           1                     0             0              0
            2                     0             0              0
            3                     0             0              0
            4                     0             0              0
            5                     0             0              0
            6                     0             0              0
            7                     0             0              0
            8                     0             0              0
            9                     0             0              0
            10                    0             0              0
            11                    0             0              0
            12                    0             0              0
            13                    0             0              0
            14                    0             0              0
            15                    0             0              0
5           1                     0             0              0

                                                                  entities  \
group_index reply_index
1           1            {'hashtags': [{'text': 'ba100', 'indices': [46...
2           1            {'hashtags': [], 'urls': [], 'user_mentions': ...
3           1            {'hashtags': [{'text': 'B737', 'indices': [34,...
            2            {'hashtags': [], 'urls': [], 'user_mentions': ...
4           1            {'hashtags': [], 'urls': [], 'user_mentions': ...
            2            {'hashtags': [], 'urls': [{'url': 'https://t.c...
            3            {'hashtags': [], 'urls': [], 'user_mentions': ...
            4            {'hashtags': [], 'urls': [], 'user_mentions': ...
            5            {'hashtags': [], 'urls': [{'url': 'https://t.c...
            6            {'hashtags': [], 'urls': [], 'user_mentions': ...
            7            {'hashtags': [], 'urls': [], 'user_mentions': ...
            8            {'hashtags': [], 'urls': [], 'user_mentions': ...
            9            {'hashtags': [], 'urls': [{'url': 'https://t.c...
            10           {'hashtags': [], 'urls': [], 'user_mentions': ...
            11           {'hashtags': [], 'urls': [{'url': 'https://t.c...
            12           {'hashtags': [], 'urls': [], 'user_mentions': ...
            13           {'hashtags': [], 'urls': [], 'user_mentions': ...
            14           {'hashtags': [{'text': 'flyabba', 'indices': [...
            15           {'hashtags': [], 'urls': [{'url': 'https://t.c...
5           1            {'hashtags': [], 'urls': [], 'user_mentions': ...

                        lang   timestamp_ms  \
group_index reply_index
1           1             en  1564704488264
2           1             en  1564704598136
3           1             en  1564704693162
            2             en  1564707494233
4           1             en  1564705394445
            2             en  1564709531433
            3             en  1564713122173
            4             en  1564714474505
            5             en  1564715013461
            6             en  1564718669654
            7             en  1564721154549
            8             en  1564722987750
            9             en  1564748815022
            10            en  1564789088400
            11            en  1564791709300
            12            en  1564793176536
            13            en  1564793248216
            14            en  1565222784242
            15            en  1564789030657
5           1             en  1564705453852

                                                            extended_tweet  \
group_index reply_index
1           1                                                          NaN
2           1                                                          NaN
3           1            {'full_text': 'Decent flight back on @KLM newe...
            2                                                          NaN
4           1                                                          NaN
            2            {'full_text': '@Alex5188 Hey Alex, if you're t...
            3                                                          NaN
            4                                                          NaN
            5            {'full_text': '@British_Airways Disappointing!...
            6                                                          NaN
            7                                                          NaN
            8                                                          NaN
            9            {'full_text': '@British_Airways @Alex5188 Prob...
            10                                                         NaN
            11           {'full_text': '@Alex5188 We can understand why...
            12                                                         NaN
            13                                                         NaN
            14           {'full_text': '@British_Airways @Alex5188 Pls ...
            15           {'full_text': '@British_Airways The Club World...
5           1                                                          NaN

                        quoted_status_id_str quoted_status
group_index reply_index
1           1                            NaN           NaN
2           1                            NaN           NaN
3           1                            NaN           NaN
            2                            NaN           NaN
4           1                            NaN           NaN
            2                            NaN           NaN
            3                            NaN           NaN
            4                            NaN           NaN
            5                            NaN           NaN
            6                            NaN           NaN
            7                            NaN           NaN
            8                            NaN           NaN
            9                            NaN           NaN
            10                           NaN           NaN
            11                           NaN           NaN
            12                           NaN           NaN
            13                           NaN           NaN
            14                           NaN           NaN
            15                           NaN           NaN
5           1                            NaN           NaN

In [15]:
#chunk_size = 5000  # Define the chunk size

#num_chunks = len(df_original_tweets) // chunk_size  # Calculate the number of chunks

# Iterate through the chunks and create a new DataFrame for each chunk
#for i in range(num_chunks):
 #   start_index = i * chunk_size  # Calculate the starting index of the chunk
  #  end_index = (i + 1) * chunk_size  # Calculate the ending index of the chunk
   # 
    # Create a new DataFrame for the current chunk
    #df_chunk = df_original_tweets.iloc[start_index:end_index].copy()
    
    # Rename the DataFrame based on the range of rows it contains
    #df_chunk_name = f"df_chunk_{start_index}_{end_index}"
    #globals()[df_chunk_name] = df_chunk